.dashboard_logo_wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0px;

  a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
}